<p id="notice"><%= notice %></p>

<h2>Comments</h2>

<table class = "table table-responsive table-light table-hover table-striped table-bordered">
  <thead class = "thead-light">
    <tr>
      <th> User </th>
      <th> Comment </th>
    </tr>
  </thead>
  <tbody>
    <% Comment.all.each do |comment| %>
      <% if comment.task_id == @task.id %>
      <tr>
        <td><%= link_to User.find(comment.user_id).username , user_path(comment.user_id) %></td>
        <td><%= comment.content %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>