h1
  | Tasks
table.table.table-responsive.table-light.table-striped.table-bordered
  thead.thead-light
    tr
      th
        | Title
      th
        | Description
      th
        | Deadline at
      th
        | Status
      th[colspan="2"]
  tbody
    - Task.all.each do |task|
      - if task.project_id == @project.id
        tr
          td
            = link_to task.title , task
          td
            = task.description
          td
            = task.deadline_at
          td
            = task.status
          td
            = link_to 'View Comments', task ,class: 'btn btn-primary'
          td
            = link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'