<div class="card text-center">
  <div class="card-header">
  	  <%= link_to "Task Tracker" , root_path ,class:"navbar-brand" %>
  </div>
  <div class="card-body">
    <h1 class="card-title">Join us now!</h1>
    <p class="card-text">Follow links below to start your journey</p>
              <%= link_to " Projects " , projects_path , class: "btn btn-primary"%>   
              <br>
              <%= link_to " Tasks " , tasks_path , class: "btn btn-primary"%>   
    </div>
</div>