  <div class='card text-center text-dark'>
    <div class='card-body '>
      <% if  !user_signed_in? %>
      <h1 class='card-title'><b>Task Tracker</b></h1>

                <%= link_to ' Log In ' , new_user_session_path , class: 'btn btn-primary btn-lg'%> 
                <%= link_to ' Sign Up ' , new_user_registration_path , class: 'btn btn-primary btn-lg'%>   
      <% else %>    
      <h1 class='card-title'>Welcome back!</h1>
      <p class='card-text'>We are happy to see , Click on the button below to view you projects</p>
      <%= link_to ' Projects ' , projects_path , class: 'btn btn-primary btn-lg'%>  
      <% end %>
      <br><br>
      </div>
  </div>
  